@namespace CouplesJournal.Components

@using CouplesJournal.Data.Entities
@using CouplesJournal.Helper
@using Markdig
@using Microsoft.AspNetCore.Http
@using System.Linq

@inject IHttpContextAccessor HttpAccessor

<div class="container-fluid">
    <div class="row">
        <div class="col mw-100">
            @foreach (var entry in Entries)
            {
                <div @key=entry class="card" style=@(GetStyle(entry))>
                    <div class="card-body">
                        <h5 class="card-title">@entry.Title @EntryStatus</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by @entry.UserName.Split("@")[0] on @entry.UpdatedOn.ToLongDateString() &#64; @entry.UpdatedOn.ToLongTimeString()</h6>
                        <p class="card-text" style="margin-top: 15px">
                            @(((MarkupString) Markdown.ToHtml($"{new String(entry.Body.Take(250).ToArray())}...")).Sanitize())
                        </p>
                        <a href=@($"/ViewJournal?journalId={entry.Id}") class="card-link">Read More...</a>
                        @if(entry.UserName == HttpAccessor.HttpContext.User.Identity.Name)
                        {
                            <a href=@($"/EditJournal?journalId={entry.Id}") class="card-link">Edit</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<JournalEntry> Entries { get; set; }

    private string EntryStatus { get; set; } = "";

    private string GetStyle(JournalEntry entry)
    {
        var defaultStyle = "margin-bottom: 15px";
        var draftStatusBGColor = "background-color:#F5F6CE";

        if (entry.Status.Value.ToLower() != "draft")
        {
            return $"{defaultStyle}";
        }
        else
        {
            EntryStatus = $"({entry.Status.Value})";
            return $"{defaultStyle};{draftStatusBGColor}";
        }
    }
}
